.shell {
  background-color: var(--gs-editor-container);
  display: flex;
  flex-direction: column;
  font-synthesis: none;
  height: var(--gs-app-height);
  max-height: var(--gs-app-height);
  min-height: 0;
  overflow: hidden;
  width: 100%;
}
