.root {
  position: relative;
}

.transformWrap {
  display: inline-block;
  transform: rotate(var(--sketch-rotation)) scale(var(--sketch-scale));
  transform-origin: center center;
}

.sketchWrap {
  border: 1px solid transparent;
  border-radius: 4px;
  height: var(--sketch-height);
  overflow: visible;
  pointer-events: none;
  width: var(--sketch-width);
}

.sketchWrapSelected {
  border-color: rgb(123 63 242 / 45%);
}

.svg {
  display: block;
  height: 100%;
  overflow: visible;
  pointer-events: none;
  width: 100%;
}
